
body {
    margin: 0;
    padding: 0;
}

/* Nav */

.navGauche {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 18%;
    padding: 2em;
    gap: 10px;
    padding-left: 0;
}

.navDroite{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 18%;
    padding: 2em;
    gap: 20px;
    padding-right: 0;
}

.trait hr{
    /* width: 100%; */
    border: 1px solid #E4E9F2;
    margin-left: 18%;
    margin-right: 18%;
    
}


nav{
    display: flex;
    justify-content: space-between; ;
}

ul {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

}

li {
    list-style: none;
    margin: 0 10px;

}

a {
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: #69707D;
    font-size: 15px;
}

a:hover {
    color: #ff7e1b;
    border-bottom: 4px solid #ff7e1b;
}



/* *mains*/
/* * Photo */

#photo1bis,#photo2, #photo3, #photo4 {
    width: 88px;
    opacity: 1;
}




.pageproduit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    /* gap: 10px; */
    margin-left: 19%;
    margin-right: 19%;
    
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;

    /* background-color: blue; */
}

.sousproduit {
    display: flex;
    gap: 7px;
}

/* description du produit et prix */

.description{
    /* background-color: bisque; */
    width: 30rem;

}

.description h1{
    font-size: 48px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #1D2026;
    font-weight: bold;
}

.description p{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #69707D;
    font-weight: normal;
}

.description h2 {
    font-size: 13px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #FF7E1B;
    font-weight: bold;
    letter-spacing: 2px;
}

.promo h1{
    font-size: 28px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #1D2026;
    font-weight: bold;
}

.promo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.promo h2 {
    background-color: #FFEEE2;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}

.prix h3 {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #B6BCC8;
    font-weight: bold;
}

/* btn incrémenter/décrémenter */

.nombre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #F6F8FD;
    width: 8em;
    border-radius: 10px;
}

.nombre div p {
    color: #1D2026;
}

.nombre button {
    background-color: transparent;
    border: none;
    padding: 10px;
}



.bouton {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Btn Ajouter au panier */

.addToCart button {
    background-color: #FF7E1B;
    border: none;
    width: 18em;
    height: 3em;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    font-size: 16px;
    /* background-color: #FFEEE2; */
}
/* Pour l'écrans mobiles */
.menuhamburger {
    display: none;
}

.flecheNavigation {
    display: none;
}

/* Media Queries pour différentes tailles d'écran */

@media screen and (max-width: 2560px) {
    .pageproduit {
      justify-content: center;
      gap: 17%;
    }
  }

@media screen and (max-width: 1440px) {
    .navGauche {
        margin-left: 10%;
    }

    .navDroite {
        margin-right: 10%;
    }

    .trait hr{
        margin-left: 10%;
        margin-right: 10%;
    }

    .pageproduit {
        justify-content: center;
        gap: 17%;
    }
    
}

@media screen and (max-width: 1024px) {
    /* .pageproduit {
        align-items: center;
        gap: 20px;
    } */

    .navGauche {
        margin-left: 5%;
    }

    .navDroite {
        margin-right: 5%;
    }

    .trait hr{
        margin-left: 5%;
        margin-right: 5%;
    }

    .pageproduit {
        justify-content: center;
        gap: 5%;
    }
    
}

@media screen and (max-width: 768px) {
    .navGauche {
        margin-left: 5%;
    }

    .navDroite {
        margin-right: 5%;
    }

    .trait hr{
        margin-left: 5%;
        margin-right: 5%;
    }

    .pageproduit {
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    }
    
}

@media screen and (max-width: 425px) {
    .navbar {
        position: absolute;
        top: 0;
    
        /* background-color: red; */
        width: 100%;
        height: 100vh;
        margin-left: -106%;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-left: -20px;
    }

    .menuhamburger {
        display: initial;
        position: absolute;
        top: 44px;
        
        width: 25px;
    }

    .logo {
        margin-left: 15%;
    }

    .flecheNavigation {
        display: initial;
    }

    .flechegauche {
        position: absolute;
        top: 40%;
        left: 15px;
    }

    .flechedroite {
        position: absolute;
        top: 40%;
        right: 15px;
    }
    
    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 20px 0;
        font-size: 1.2em;
    }

    .trait hr{
        display: none;
    }

    .bars {
        display: initial;
        margin-right: 5%;
        z-index: 7;
    }
    
    /* .produit {
        max-width: 100px;
        max-height: 100px;
    } */

    .pageproduit {
        padding: 0;
        margin-top:-40px;
    }

    .produit img {
        width: 31em;
    }

    .sousproduit {
        display: none;
    }

    .description {
        width: 22em;
    }

    .description h2{
        font-size: 12px;
        letter-spacing: 1.85px;
    }

    .description h1{
        font-size: 28px;
    }

    .description p{
        font-size: 15px;
    }

    .prix h3 {
        font-size: 16px;
        position: relative;
        bottom: 58px;
        left: 265px;

    }

    .bouton {
        flex-direction: column; 
    }
    
    .nombre {
        width: 23em;
        position: relative;
        left: 10px;
        border-radius: 10px;
        margin-top: -50px;
        
        
    }

    .addToCart button {
        width: 23em;
        position: relative;
        left: 10px;
        border-radius: 10px;
    }

    
    
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
}

.footer a {
    color: #ff7e1b;
    text-decoration: none;
}

main {
    margin-bottom: 20%;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}


form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #ff7e1b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e66b00;
}